
<div class="container" style="direction: rtl;" >
    <h1 style="text-align: center;">مدیریت تصاویر گرافی</h1>

    <!-- <p-button icon="pi pi-plus" label="پزشک جدید"  title=" پزشک جدید"  styleClass="p-button-success"></p-button> -->
    
    <div class="card" >
        <p-table [value]="AllData" [tableStyle]="{ 'width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: right;">شماره پرونده</th>
                    <th style="text-align: right;">نام و نام خانوادگی</th>
                    <th style="text-align: right;">از تاریخ</th>
                    <th style="text-align: right;">تا تاریخ</th>
                    <!-- <th style="text-align: right;">وضعیت</th> -->
                    <th style="width:10rem;text-align: center;">عملیات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr class="dataRow"  (click)="edit(data)">
                    <td style="text-align: right;">{{ data.dosierIdReq }}</td>
                    <td style="text-align: right;">{{ data.fullNameReq }}</td>
                    <td style="text-align: right;">{{ data.fromDate | date:'yyyy-MM-dd' }}</td>
                    <td style="text-align: right;">{{ data.toDate | date:'yyyy-MM-dd' }}</td>
                    <!-- <td style="text-align: right;">{{ data.status }}</td> -->
                    <td class="flex justify-content-around flex-wrap card-container indigo-container">
                        <p-button icon="pi pi-images" title="گالری" (click)="Gallery($event,data)" styleClass="p-button-help"></p-button> 
                        <!-- <p-button icon="pi pi-pencil" title="ویرایش وضعیت رزرو وقت" (click)="edit(data)" styleClass="p-button-warning"></p-button> -->
                        <p-confirmPopup></p-confirmPopup>
                        <p-button icon="pi pi-trash" title="حذف گرافی" (click)="remove($event,data)" styleClass="p-button-danger "></p-button>
                        
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>



</div>



<p-dialog header="درخواست تصاویر گرافی" [(visible)]="visible"  [modal]="true" [style]="{ width: '500px' ,height:'650px'}"  [draggable]="false" [resizable]="false">
    <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="مشخصات درخواست" >


            <div style="max-width: 520px;direction: rtl;">

                <div class="flex flex-row align-items-end justify-content-end gap-2 ">
                    <label htmlFor="dosierIdReq">شماره پرونده</label>
                    <input disabled class=" p-inputtext-sm" style="width: 270px;" pInputText id="dosierIdReq" disabled aria-describedby="dosierIdReq" [ngModel]="currentData.dosierIdReq" />
                   
                </div>
                <br>
                <div class="flex flex-row align-items-end justify-content-end gap-2">
                    <label htmlFor="fullNameReq">نام و نام خانوادگی</label>
                    <input disabled class="p-inputtext-sm" style="width: 270px;" pInputText id="fullNameReq" disabled aria-describedby="fullNameReq" [ngModel]="currentData.fullNameReq" />
             
                </div>
                <br>
                <div class="flex flex-row align-items-end justify-content-end gap-2">
                    <label htmlFor="nationalCodeReq">کدملی</label>
                    <input disabled class="p-inputtext-sm"  style="width: 270px;" pInputText id="nationalCodeReq" disabled aria-describedby="nationalCodeReq" [ngModel]="currentData.nationalCodeReq" />
             
                </div>
                <br>
                <div class="flex flex-row align-items-end justify-content-end gap-2">
                    <label htmlFor="mobileReq">شماره همراه</label>
                    <input disabled class="p-inputtext-sm" style="width: 270px;" pInputText id="mobileReq" disabled aria-describedby="mobileReq" [ngModel]="currentData.mobileReq" />
             
                </div>
                <br>
                <div class="flex flex-row align-items-end justify-content-end gap-2">
                    <label htmlFor="fromDate">از تاریخ</label>
                    <input disabled class="p-inputtext-sm" style="width: 270px;" pInputText id="fromDate" disabled aria-describedby="fromDate" [ngModel]="currentData.fromDate| date:'yyyy-MM-dd'" />
                   
                </div>
                <br>
                <div class="flex flex-row align-items-end justify-content-end gap-2">
                    <label htmlFor="toDate">تا تاریخ</label>
                    <input disabled class="p-inputtext-sm" style="width: 270px;" pInputText id="toDate" disabled aria-describedby="toDate" [ngModel]="currentData.toDate| date:'yyyy-MM-dd'" />
                </div>
        
               
            </div> 
            <br>
            <div class="card flex justify-content-center">
            
        </div>
            <br>
            <!-- <p-button (onClick)="Update()" [loading]="loading" label="ذخیره"></p-button> -->


        </p-tabPanel>
        <p-tabPanel header="گالری" style="min-width:200px ; min-height:500px;" >
            <p-button *ngIf="!dragMode" icon="pi pi-plus" class="addGallery" (click)="galleryFile.click()" styleClass=" p-button-rounded p-button-success p-button-text p-button-raised"></p-button>
            <p-button  *ngIf="dragMode" icon="pi pi-trash" class="removeGallery"  styleClass=" p-button-rounded p-button-danger " (dragover)="allowDrop($event)" (drop)="drop($event)" droppable="true"  dragged ></p-button>
            
            
            <input type="file" id="galleryUpload" hidden multiple (change)="addGallery($event)" #galleryFile  accept=".png, .jpg, .jpeg">
            <div class="row">
                <span class="column" *ngFor="let item of GaleryFiles; let i = index">

                    <p-image aria-haspopup="true" draggable="true" [src]="'/images/'+ClinicId+'/GraphyGallery/'+ currentData.graphyId+'/'+item" alt="Image" width="150"   (dragstart)="setItem($event,item)" (dragend)="setItem($event,'')"  height="150" [preview]="true"></p-image>
                    
                </span>
                
            </div>
            
        </p-tabPanel>

    </p-tabView>

</p-dialog>
