<div class="body"></div>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: right;">ورود به کلینیک</h3>
                    <!-- <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div> -->
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <div class="input-group form-group">
                            <input ngModel type="text" style="direction: rtl;" class="form-control"  name="phone_number"  minlength="11" maxlength="11"  required (keypress)="onKeyPress($event)"   pattern="09[0-9]{9}" placeholder="شماره تلفن همراه">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa-solid   fa-mobile"></i></span>
                            </div>
                           
                        </div>
                        <div class="input-group form-group">
                            <input ngModel type="text" class="form-control" name="national_code"  style="direction: rtl;" minlength="10"  maxlength="10" required (keypress)="onKeyPress($event)" placeholder="کد ملی">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                            </div>
                        </div>
                        
                        <!-- <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div> -->
                        <div class="form-group" style="max-width: fit-content;">
                            <input type="submit" value="ورود" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links"  >
                        <!-- Don't have an account?<a href="#">ثبت نام نکرده ام</a> -->
                        <a style="color: goldenrod;" href="./register">ثبت نام نکرده ام</a>
                    </div>
                    <!-- <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
