<div class="container" style="margin-top: 20px;">
    <div class="row">
        <h5 class="col" style="direction: rtl; text-align: center;">
             {{action!='new'?'ویرایش وقت':'درخواست رزرو وقت'}} 
        </h5>
    </div>


      <form style="direction: rtl; text-align: right; max-width: 500px;margin: auto;" #f="ngForm"  (ngSubmit)="submitForm(f)" #myForm="ngForm">
        <div class="form-group">
          <label for="department">بخش</label>
          <select class="form-control" id="department" name="department" [(ngModel)]="formData.department" required>
            <option *ngFor="let department of reqService.departments" [value]="department.id">
                {{ department.departmentName }}
              </option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="shift">شیفت</label>
          <select class="form-control" id="shift" name="shift" [(ngModel)]="formData.phoneNumber" required>
            <option *ngFor="let shift of reqService.shifts" [value]="shift.id">
                {{ shift.shiftName }}
              </option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="doctor">پزشک</label>
          <select disabled="" class="form-control" id="doctor" name="doctor" [(ngModel)]="formData.doctor" required>
            <option *ngFor="let doctor of doctors" [value]="doctor">
                {{ doctor }}
              </option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="insurance">بیمه</label>
          <select  class="form-control" id="insurance" name="insurance"  required>
            <option selected  *ngFor="let insurance of reqService.myInsurance" [value]="insurance">
                {{ insurance }}
              </option>
          </select>
        </div>
              
        <div class="form-group">
          
          <label for="date">تاریخ</label>
              <ng-persian-datepicker [uiHideAfterSelectDate]="true" [dateInitValue]="true"  [dateValue]="myDate"  (dateOnSelect)="onDateChange($event)">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="date" name="date" [ngModel]="dateValue" aria-describedby="basic-addon1" required>
                  <div class="input-group-prepend">
                    <button class="btn btn-success" (click)="getFirstDate()" type="button"><div style="width: 100px;" *ngIf="firstDateLoading==false">اولین وقت</div><div  style="width: 100px;" *ngIf="firstDateLoading==true"> <i class="fas fa-circle-notch fa-spin"></i></div></button>
                  </div>
                  <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
                </div>

          
        </ng-persian-datepicker>
        
        </div>

    
      <div style="display: flex; justify-content: space-between;margin-top: 30px;">
        <button type="submit" style="width: 200px;" class="btn btn-primary"><div *ngIf="SendLoading==false">ارسال درخواست</div><div  *ngIf="SendLoading==true"> <i class="fas fa-circle-notch fa-spin"></i></div> </button>
        <a type="button"  (click)="goBack()" style="width: 200px;" class="btn btn-outline-secondary" >برگشت</a>
      </div>
      </form>

  </div>